<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Fedora Project</vendor>
  <vendor_url>https://fedoraproject.org/</vendor_url>

  <action id="com.fedora.dnfui.apply-transactions">
    <description>Apply package transactions with DNF UI</description>
    <message>Authentication is required to apply package transactions.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
